.program {
    background-color: var(--color-bg-subtle);
}

.timeline {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding-left: 2rem;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: var(--color-primary-light);
    opacity: 0.3;
}

.program-item {
    position: relative;
    padding-bottom: 3rem;
    padding-left: 2rem;
}

.program-item::before {
    content: '';
    position: absolute;
    left: -2.4rem;
    /* Adjust based on parent padding */
    top: 0;
    width: 14px;
    height: 14px;
    background-color: var(--color-accent-blue);
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 0 0 1px var(--color-primary-light);
}

.program-time {
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

.program-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.program-desc {
    color: var(--color-text-light);
}